<div class="gallery-container">
  <div *ngFor="let photo of aePhotos, let i = index">
  <button (click)="ngxSmartModalService.getModal('photoModal').open()" (click)="findPhoto(i)">
    <img src="https://picsum.photos/300/200?image={{photo.id}}" alt="enlarge image">
  </button>
  </div>

</div>
<ngx-smart-modal #photoModal identifier="photoModal" class="modal-container">
  <label>Photo #{{currentPhoto}}</label>
  <img class="modal-image" src="https://picsum.photos/750/450?image={{currentPhoto}}" alt="stock photo">
  <div class="modal-controls">
    <button class="prev-btn" (click)="prevPhoto()">Prev</button>
    <button class="close-btn" (click)="photoModal.close()">Close</button>
    <button class="next-btn" (click)="nextPhoto()">Next</button>
  </div>
</ngx-smart-modal>

