.gallery-container {
  margin-top: 130px;
  margin-bottom: 70px;
  min-height: 600px;
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery-container div {
  flex-basis: 25%;
}
